// Global Foundation Settings
@import "settings";

// Libraries
@import "foundation/components/global"; // required
@import "foundation/components/grid";

// Assets
@import "fonts";

// Mixins
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// Variables
$highlight: #0ec5a5;

// Kick it off with a reset.
@import "reset";

// Global
html {
  font-size: 62.5%;
}

body {
  @include font-size(1.8);
  line-height: 1.27;
  font-family: 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
}

#covers {
  padding-top: 160px;
  background: url('/assets/images/covers.jpg') no-repeat top center;
}
#site-header {
  $headerHeight: 125px;
  $cornerWidth: 50px;

  background: #000;
  text-transform: uppercase;
  text-align: center;
  max-width: 480px;
  height: $headerHeight;
  margin: 0 auto;
  color: #ff0000;
  position: relative;
  padding-top: 20px;

  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  background-image: url('/assets/images/generation.png');
  .svg & { // body.svg #site-header
    background-image: inline-image('generation.svg');
  }

  h1 {
    @include font-size(4.5);
    font-family: Georgia, serif;
    font-weight: bold;
    color: $highlight;
    line-height: 1;
    width: 408px; height: 73px;
    margin: 0 auto;
  }
  h2 {
    color: #fff;
    font-weight: 100;
    font-family: 'texgyreadventorregular', sans-serif;
    @include font-size(2.12);
  }
  &::before {
    display: block;
    position: absolute;
    content: '';
    left: -1 * $cornerWidth; top: 0;
    width: 0; height: 0;
    border-style: solid;
    border-width: 0 0 $headerHeight $cornerWidth;
    border-color: transparent transparent #000 transparent;
  }
  &::after {
    display: block;
    position: absolute;
    content: '';
    right: -1 * $cornerWidth; top: 0;
    width: 0; height: 0;
    border-style: solid;
    border-width: 0 $cornerWidth $headerHeight 0;
    border-color: transparent transparent #000 transparent;
  }
}

#site-nav {
  background: #000;
  border-bottom: 5px solid $highlight;
  min-height: 3em;
  a {
    color: #fff;
    font-family: 'texgyreadventorbold', sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    display: block;
    padding: 0.8em 25px 0;
    &:hover, &:active { color: $highlight; }
  }
  ul {
    text-align: center;
  }
  li {
    display: inline-block;
    float: none;
    @include font-size(1.8);
    font-weight: bold;
    text-transform: uppercase;
  }
}
.pull-down {
  display: block;
  margin: 0 auto 2em;
  width: 0; height: 0;
  border-style: solid;
  border-width: 40px 100px 0 100px;
  border-color: $highlight transparent transparent transparent;
}

#site-main { // div[role=main]
  $max-width: 768px;
  @extend .row; // Grid Container

  section.intro {
    @include font-size(2.2);
  }

  section {
    @extend .columns;
    @extend .large-12;
    margin-bottom: 30px;
    text-align: justify;

    h1 {
      @include font-size(3.2);
      font-weight: bold;
      color: $highlight;
      margin-bottom: 7px;
      font-family: 'texgyreadventorbold', sans-serif;
      letter-spacing: 1px;
    }

    a {
      $linkHighlight: darken($highlight, 5%);
      color: $linkHighlight;
      &:hover {
        border-bottom: 1px solid $linkHighlight;
      }
    }
    p {
      margin-bottom: 0.8em;
    }
  }

  section.submit, section.support {
    @extend .columns;
    @extend .large-6;
  }
}

#site-footer {
  .social {
    $headerHeight: 70px;
    $cornerWidth: 30px;

    background-color: $highlight;
    text-transform: uppercase;
    text-align: left;
    max-width: 480px;
    height: $headerHeight;
    margin: 0 auto;
    color: #fff;
    position: relative;
    padding-top: 20px;

    background-repeat: no-repeat;
    background-position: center;

    h1 {
      @include font-size(4.5);
      font-family: Georgia, serif;
      font-weight: bold;
      line-height: 1;
      //width: 408px; height: 73px;
      margin: 0 auto;
    }
    &::before {
      display: block;
      position: absolute;
      content: '';
      left: -1 * $cornerWidth; top: 0;
      width: 0; height: 0;
      border-style: solid;
      border-width: 0 0 $headerHeight $cornerWidth;
      border-color: transparent transparent $highlight transparent;
    }
    &::after {
      display: block;
      position: absolute;
      content: '';
      right: -1 * $cornerWidth; top: 0;
      width: 0; height: 0;
      border-style: solid;
      border-width: 0 $cornerWidth $headerHeight 0;
      border-color: transparent transparent $highlight transparent;
    }
  }

  .credits {
  }
}

// Animation
nav, header, section, .pull-down, #covers {
  opacity: 0;
  -webkit-animation: fade-in 1s linear forwards;
  -moz-animation: fade-in 1s linear forwards;
  -ms-animation: fade-in 1s linear forwards;
  animation: fade-in 1s linear forwards;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
section {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
#site-nav a {
  -webkit-transition: color .15s ease-out;
  -moz-transition: color .15s ease-out;
  transition: color .15s ease-out;
}

@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
