// Libraries
@import "bourbon/bourbon";

@import "neat/neat-helpers";
$desktop: new-breakpoint(min-width 960px);
$tablet: new-breakpoint(min-width 768px max-width 959px);
$mobile-landscape: new-breakpoint(min-width 480px max-width 767px);
$mobile-portrait: new-breakpoint(max-width 767px);
$small-devices: new-breakpoint(max-width 959px);

@import "neat/neat";

// Reset
@import "reset";

// Mixins
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// Variables
$highlight: #0ec5a5;

// Global
html {
  font-size: 62.5%;
}

body {
  @include font-size(1.8);
  line-height: 1.27;
  font-family: 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
}

#site-header {
  $headerHeight: 100px;
  $cornerWidth: 30px;

  background: #000;
  text-transform: uppercase;
  text-align: center;
  max-width: 400px;
  height: $headerHeight;
  margin: 40px auto 0;
  color: #ff0000;
  position: relative;
  padding-top: 20px;
  h1 {
    @include font-size(4.5);
    font-family: Georgia, serif;
    font-weight: bold;
    color: $highlight;
    line-height: 1;
  }
  h2 {
    color: #fff;
    font-weight: 100;
  }
  &::before {
    display: block;
    position: absolute;
    content: '';
    left: -1 * $cornerWidth; top: 0;
    width: 0; height: 0;
    border-style: solid;
    border-width: 0 0 $headerHeight $cornerWidth;
    border-color: transparent transparent #000 transparent;
  }
  &::after {
    display: block;
    position: absolute;
    content: '';
    right: -1 * $cornerWidth; top: 0;
    width: 0; height: 0;
    border-style: solid;
    border-width: 0 $cornerWidth $headerHeight 0;
    border-color: transparent transparent #000 transparent;
  }
}

#site-nav {
  background: #000;
  border-bottom: 3px solid $highlight;
  min-height: 3em;
  margin-bottom: 3em;
  a {
    color: #fff;
    &:hover, &:active { color: $highlight; }
  }
  ul {
    margin-left: 230px;
  }
  li {
    float: left;
    @include font-size(1.8);
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 50px;
    margin-top: 1em;
  }
}

#site-main { // div[role=main]
  $max-width: 768px;
  @include outer-container; // Grid Container
}

section.intro {
  @include font-size(2.2);
}

section {
  @include span-columns(12);
  margin-bottom: 30px;
  padding: 0 1em;
  text-align: justify;

  h1 {
    @include font-size(3.2);
    font-weight: bold;
    color: $highlight;
    margin-bottom: 7px;
  }

  a {
    $linkHighlight: darken($highlight, 5%);
    color: $linkHighlight;
    &:hover {
      border-bottom: 1px solid $linkHighlight;
    }
  }
  p {
    margin-bottom: 0.8em;
  }
}

// Animation
nav, header, section {
  -webkit-animation: fade-in 0.7s linear forwards;
  -moz-animation: fade-in 0.7s linear forwards;
  -ms-animation: fade-in 0.7s linear forwards;
  animation: fade-in 0.7s linear forwards;
}
section {
  opacity: 0;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
