* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'texgyreadventorbold';
  src: url("/assets/fonts/texgyreadventor-bold-webfont.eot");
  src: url("/assets/fonts/texgyreadventor-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/texgyreadventor-bold-webfont.woff") format("woff"), url("/assets/fonts/texgyreadventor-bold-webfont.ttf") format("truetype"), url("/assets/fonts/texgyreadventor-bold-webfont.svg#texgyreadventorbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'texgyreadventorregular';
  src: url("/assets/fonts/texgyreadventor-regular-webfont.eot");
  src: url("/assets/fonts/texgyreadventor-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/texgyreadventor-regular-webfont.woff") format("woff"), url("/assets/fonts/texgyreadventor-regular-webfont.ttf") format("truetype"), url("/assets/fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.27;
  font-family: 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
}

#site-header {
  background: #000;
  text-transform: uppercase;
  text-align: center;
  max-width: 480px;
  height: 125px;
  margin: 40px auto 0;
  color: #ff0000;
  position: relative;
  padding-top: 20px;
}
#site-header h1 {
  font-size: 45px;
  font-size: 4.5rem;
  font-family: Georgia, serif;
  font-weight: bold;
  color: #0ec5a5;
  line-height: 1;
  text-indent: -9999px;
  background: url("/assets/images/generation.svg") no-repeat center;
  width: 408px;
  height: 73px;
  margin: 0 auto;
}
#site-header h2 {
  color: #fff;
  font-weight: 100;
  font-family: 'texgyreadventorregular', serif;
  font-size: 21.2px;
  font-size: 2.12rem;
}
#site-header::before {
  display: block;
  position: absolute;
  content: '';
  left: -50px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 125px 50px;
  border-color: transparent transparent #000 transparent;
}
#site-header::after {
  display: block;
  position: absolute;
  content: '';
  right: -50px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 125px 0;
  border-color: transparent transparent #000 transparent;
}

#site-nav {
  background: #000;
  border-bottom: 3px solid #0ec5a5;
  min-height: 3em;
  margin-bottom: 3em;
}
#site-nav a {
  color: #fff;
  font-family: 'texgyreadventorbold', serif;
  letter-spacing: 1px;
  font-weight: 100;
  display: block;
  padding: 0.8em 25px 0;
}
#site-nav a:hover, #site-nav a:active {
  color: #0ec5a5;
}
#site-nav ul {
  text-align: center;
}
#site-nav li {
  display: inline-block;
  float: none;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

#site-main {
  *zoom: 1;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
#site-main:before, #site-main:after {
  content: " ";
  display: table;
}
#site-main:after {
  clear: both;
}

section.intro {
  font-size: 22px;
  font-size: 2.2rem;
}

section {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 30px;
  padding: 0 1em;
  text-align: justify;
}
section:last-child {
  margin-right: 0;
}
section h1 {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: bold;
  color: #0ec5a5;
  margin-bottom: 7px;
  font-family: 'texgyreadventorbold', serif;
  letter-spacing: 1px;
}
section a {
  color: #0cad91;
}
section a:hover {
  border-bottom: 1px solid #0cad91;
}
section p {
  margin-bottom: 0.8em;
}

nav, header, section {
  opacity: 0;
  -webkit-animation: fade-in 1s linear forwards;
  -moz-animation: fade-in 1s linear forwards;
  -ms-animation: fade-in 1s linear forwards;
  animation: fade-in 1s linear forwards;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

section {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

#site-nav a {
  -webkit-transition: color .15s ease-out;
  -moz-transition: color .15s ease-out;
  transition: color .15s ease-out;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
