*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
}

a:focus {
  outline: none;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

img {
  display: inline-block;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

/* Grid HTML Classes */
.row, #site-main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 42.5em;
  *zoom: 1;
}
.row:before, #site-main:before, .row:after, #site-main:after {
  content: " ";
  display: table;
}
.row:after, #site-main:after {
  clear: both;
}
.row .column, #site-main .column,
.row .columns,
#site-main .columns,
#site-main section,
#site-main section.submit,
#site-main section.support {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}
.row.collapse .column, .collapse#site-main .column,
.row.collapse .columns,
.collapse#site-main .columns,
.row.collapse #site-main section,
#site-main .row.collapse section,
.collapse#site-main section {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}
.row .row, #site-main .row, .row #site-main, #site-main #site-main {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
.row .row:before, #site-main .row:before, .row #site-main:before, #site-main #site-main:before, .row .row:after, #site-main .row:after, .row #site-main:after, #site-main #site-main:after {
  content: " ";
  display: table;
}
.row .row:after, #site-main .row:after, .row #site-main:after, #site-main #site-main:after {
  clear: both;
}
.row .row.collapse, #site-main .row.collapse, .row .collapse#site-main, #site-main .collapse#site-main {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}
.row .row.collapse:before, #site-main .row.collapse:before, .row .collapse#site-main:before, #site-main .collapse#site-main:before, .row .row.collapse:after, #site-main .row.collapse:after, .row .collapse#site-main:after, #site-main .collapse#site-main:after {
  content: " ";
  display: table;
}
.row .row.collapse:after, #site-main .row.collapse:after, .row .collapse#site-main:after, #site-main .collapse#site-main:after {
  clear: both;
}

@media only screen {
  .row .column, #site-main .column,
  .row .columns,
  #site-main .columns,
  #site-main section,
  #site-main section.submit,
  #site-main section.support {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  .row .small-1, #site-main .small-1 {
    position: relative;
    width: 8.33333%;
  }

  .row .small-2, #site-main .small-2 {
    position: relative;
    width: 16.66667%;
  }

  .row .small-3, #site-main .small-3 {
    position: relative;
    width: 25%;
  }

  .row .small-4, #site-main .small-4 {
    position: relative;
    width: 33.33333%;
  }

  .row .small-5, #site-main .small-5 {
    position: relative;
    width: 41.66667%;
  }

  .row .small-6, #site-main .small-6 {
    position: relative;
    width: 50%;
  }

  .row .small-7, #site-main .small-7 {
    position: relative;
    width: 58.33333%;
  }

  .row .small-8, #site-main .small-8 {
    position: relative;
    width: 66.66667%;
  }

  .row .small-9, #site-main .small-9 {
    position: relative;
    width: 75%;
  }

  .row .small-10, #site-main .small-10 {
    position: relative;
    width: 83.33333%;
  }

  .row .small-11, #site-main .small-11 {
    position: relative;
    width: 91.66667%;
  }

  .row .small-12, #site-main .small-12 {
    position: relative;
    width: 100%;
  }

  .row .small-offset-1, #site-main .small-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  .row .small-offset-2, #site-main .small-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  .row .small-offset-3, #site-main .small-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  .row .small-offset-4, #site-main .small-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  .row .small-offset-5, #site-main .small-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  .row .small-offset-6, #site-main .small-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  .row .small-offset-7, #site-main .small-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  .row .small-offset-8, #site-main .small-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  .row .small-offset-9, #site-main .small-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  .row .small-offset-10, #site-main .small-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .column.small-centered,
  .columns.small-centered,
  #site-main section.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
}
/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 48em) {
  .row .large-1, #site-main .large-1 {
    position: relative;
    width: 8.33333%;
  }

  .row .large-2, #site-main .large-2 {
    position: relative;
    width: 16.66667%;
  }

  .row .large-3, #site-main .large-3 {
    position: relative;
    width: 25%;
  }

  .row .large-4, #site-main .large-4 {
    position: relative;
    width: 33.33333%;
  }

  .row .large-5, #site-main .large-5 {
    position: relative;
    width: 41.66667%;
  }

  .row .large-6, #site-main .large-6, #site-main section.submit, #site-main section.support {
    position: relative;
    width: 50%;
  }

  .row .large-7, #site-main .large-7 {
    position: relative;
    width: 58.33333%;
  }

  .row .large-8, #site-main .large-8 {
    position: relative;
    width: 66.66667%;
  }

  .row .large-9, #site-main .large-9 {
    position: relative;
    width: 75%;
  }

  .row .large-10, #site-main .large-10 {
    position: relative;
    width: 83.33333%;
  }

  .row .large-11, #site-main .large-11 {
    position: relative;
    width: 91.66667%;
  }

  .row .large-12, #site-main .large-12, #site-main section {
    position: relative;
    width: 100%;
  }

  .row .large-offset-1, #site-main .large-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  .row .large-offset-2, #site-main .large-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  .row .large-offset-3, #site-main .large-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  .row .large-offset-4, #site-main .large-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  .row .large-offset-5, #site-main .large-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  .row .large-offset-6, #site-main .large-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  .row .large-offset-7, #site-main .large-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  .row .large-offset-8, #site-main .large-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  .row .large-offset-9, #site-main .large-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  .row .large-offset-10, #site-main .large-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .small-push-2 {
    left: inherit;
  }

  .small-pull-2 {
    right: inherit;
  }

  .small-push-3 {
    left: inherit;
  }

  .small-pull-3 {
    right: inherit;
  }

  .small-push-4 {
    left: inherit;
  }

  .small-pull-4 {
    right: inherit;
  }

  .small-push-5 {
    left: inherit;
  }

  .small-pull-5 {
    right: inherit;
  }

  .small-push-6 {
    left: inherit;
  }

  .small-pull-6 {
    right: inherit;
  }

  .small-push-7 {
    left: inherit;
  }

  .small-pull-7 {
    right: inherit;
  }

  .small-push-8 {
    left: inherit;
  }

  .small-pull-8 {
    right: inherit;
  }

  .small-push-9 {
    left: inherit;
  }

  .small-pull-9 {
    right: inherit;
  }

  .small-push-10 {
    left: inherit;
  }

  .small-pull-10 {
    right: inherit;
  }

  .column.large-centered,
  .columns.large-centered,
  #site-main section.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
}
@font-face {
  font-family: 'texgyreadventorbold';
  src: url("/assets/fonts/texgyreadventor-bold-webfont.eot");
  src: url("/assets/fonts/texgyreadventor-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/texgyreadventor-bold-webfont.woff") format("woff"), url("/assets/fonts/texgyreadventor-bold-webfont.ttf") format("truetype"), url("/assets/fonts/texgyreadventor-bold-webfont.svg#texgyreadventorbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'texgyreadventorregular';
  src: url("/assets/fonts/texgyreadventor-regular-webfont.eot");
  src: url("/assets/fonts/texgyreadventor-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/texgyreadventor-regular-webfont.woff") format("woff"), url("/assets/fonts/texgyreadventor-regular-webfont.ttf") format("truetype"), url("/assets/fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.27;
  font-family: 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
}

#covers {
  padding-top: 160px;
  background: url("/assets/images/covers.jpg") no-repeat top center;
}

#site-header {
  background: #000;
  text-transform: uppercase;
  text-align: center;
  max-width: 480px;
  height: 125px;
  margin: 0 auto;
  color: #ff0000;
  position: relative;
  padding-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  background-image: url("/assets/images/generation.png");
}
.svg #site-header {
  background-image: url_base64_encode_asset("assets/images/generation.svg", svg);
}
#site-header h1 {
  font-size: 45px;
  font-size: 4.5rem;
  font-family: Georgia, serif;
  font-weight: bold;
  color: #0ec5a5;
  line-height: 1;
  width: 408px;
  height: 73px;
  margin: 0 auto;
}
#site-header h2 {
  color: #fff;
  font-weight: 100;
  font-family: 'texgyreadventorregular', sans-serif;
  font-size: 21.2px;
  font-size: 2.12rem;
}
#site-header::before {
  display: block;
  position: absolute;
  content: '';
  left: -50px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 125px 50px;
  border-color: transparent transparent #000 transparent;
}
#site-header::after {
  display: block;
  position: absolute;
  content: '';
  right: -50px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 125px 0;
  border-color: transparent transparent #000 transparent;
}

#site-nav {
  background: #000;
  border-bottom: 5px solid #0ec5a5;
  min-height: 3em;
}
#site-nav a {
  color: #fff;
  font-family: 'texgyreadventorbold', sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  display: block;
  padding: 0.8em 25px 0;
}
#site-nav a:hover, #site-nav a:active {
  color: #0ec5a5;
}
#site-nav ul {
  text-align: center;
}
#site-nav li {
  display: inline-block;
  float: none;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.pull-down {
  display: block;
  margin: 0 auto 2em;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 100px 0 100px;
  border-color: #0ec5a5 transparent transparent transparent;
}

#site-main section.intro {
  font-size: 22px;
  font-size: 2.2rem;
}
#site-main section {
  margin-bottom: 30px;
  text-align: justify;
}
#site-main section h1 {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: bold;
  color: #0ec5a5;
  margin-bottom: 7px;
  font-family: 'texgyreadventorbold', sans-serif;
  letter-spacing: 1px;
}
#site-main section a {
  color: #0cad91;
}
#site-main section a:hover {
  border-bottom: 1px solid #0cad91;
}
#site-main section p {
  margin-bottom: 0.8em;
}

nav, header, section, .pull-down, #covers {
  opacity: 0;
  -webkit-animation: fade-in 1s linear forwards;
  -moz-animation: fade-in 1s linear forwards;
  -ms-animation: fade-in 1s linear forwards;
  animation: fade-in 1s linear forwards;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

section {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

#site-nav a {
  -webkit-transition: color .15s ease-out;
  -moz-transition: color .15s ease-out;
  transition: color .15s ease-out;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
